
.login-form-button{
	width: 100%;
	height:50px;
	font-size: 25px;
}
select#register_form_country {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}
.my-signup-form {
    max-width: 550px;
    margin: 60px auto;
    background: #ffffff;
    padding: 10px 15px;
    /* box-shadow: 0px 0px 3px #0000000d; */
    box-shadow: 0px 0px 25px #0000000f;
    border-radius: 10px;
    margin-bottom: 0;
}
.full-logo {
    text-align: center;
    margin: 15px auto;
}
.full-logo > img {
    width: 100%;
    max-width: 200px;
}

.password-strength-meter-progress {
    width: 100% !important;
    height: 5px !important;
}

.white-bg{
    /* background: url(../../../../assets/img/brand/upapp-special-bg.png); */
    /* background-size: auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 20px 15px; */
    padding: 100px 15px;
}

.react-phone-number-input__icon-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: -29px;
}

.react-phone-number-input__row {
    padding: 2px 5px 0px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.react-phone-number-input__input{
    border-bottom: none;
}
.react-phone-number-input__icon.react-phone-number-input__icon--international > svg {
    padding-bottom: 9px;
}
input#register_form_phone {
    /* border: 1px solid #d9d9d9; */
    border-radius: 3px;
    padding: 0px 10px;
}
.lg-rtl .has-error .ant-form-explain,.lg-rtl .has-error .ant-form-split{
    text-align: right;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .white-bg{
        /* background: url(../../../../assets/img/brand/upapp-special-bg.svg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px 15px;
    }

}