/* .login-form {
	max-width: 300px;
} */

.login-white-bg{
    /* background: url(../../../../assets/img/brand/upapp-special-bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px 15px;
}
.login-form-forgot {
	float: left;
}
.lg-rtl .login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}

.my-login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #0000000d;
    background: #ffffff;
    margin-top: 150px;
    margin-bottom:100px;
}
.lg-rtl .has-error .ant-form-explain,.lg-rtl .has-error .ant-form-split{
    text-align: right;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


	.login-white-bg{
		/* background: url(../../../../assets/img/brand/upapp-special-bg.svg); */
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding: 1px 15px;
    }
}