
.plan-container.plan-btn>label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    width: 50%;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
}

.plan-container.plan-btn>label.ant-radio-button-wrapper {
    width: 50%;
    height: 100px;
    border-radius: 5px;
    margin: 10px;
}
.plan-container>label.ant-radio-button-wrapper, .plan-container>label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    width: 250px;
    height: 180px;
    border-radius: 5px;
    margin: 10px;
}

img.paymet-gateway-logo {
    width: 120px;
    margin: 20px auto;
}

.paymet-gateway-tag {
    background: #ddd;
    padding: 0 5px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 14px;
    border-radius: 3px;
    color: #000;
    font-weight: 600;
}

.StripeCheckout-btn>button[disabled]>span {
    border-radius: 3px !important;
    width: 100%;
    height: 30px !important;
    background: #dedede !important;
    box-shadow: none !important;
    cursor: not-allowed;
}
.StripeCheckout-btn>button[disabled] {
    border-radius: 3px !important;
    width: 100%;
    background: #dedede !important;
    height: 35px;
    border: none !important;
    padding-top: 2px !important;
    font-family: 'El Messiri', sans-serif;
    margin: 10px auto;
    cursor: not-allowed;
}

.paymet-gateway-logo-container {
    text-align: center;
}



.chkoutPage_fontsize {
    font-size: 14px;
}

.checkout-title-rtl > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    right: 120%;
}

.plan-container>.ant-radio-button-wrapper {
    border-left: 1px solid #191919;
}

.radio-checkout-Price {
    padding: 5px 0px;
}

.chkout_price_totalCost {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 188, 212)!important;
}

.Pricing_page2_business_category, .Pricing_page2_business_about {
    text-align: left;
    padding: 0 15px;
}

.Pricing_page2_col_business_logo {
    padding: 20px 15px 0px 15px;
    text-align: left;
}

.Pricing_page2_main_outer {
    text-align: left;
    margin: 20px 15px;
}

.Pricing_page2_business_email {
    text-align: left;
}
.Set_Your_Default_Currency,.upload_your_file,.first_hours_train_free{
    opacity: 0.4;
    font-size: 14px;
}
@media only screen and (max-device-width:1024px) and (min-device-width:767px) {
    .uaf_chkout_package_outer {
        display: block;
        text-align: left;
    }
    .Set_Your_Default_Currency,.upload_your_file,.first_hours_train_free{
        opacity: 0.4;
        font-size: 12px;
    }
    .uaf_chkout_package_Inner {
        width: 278px!important;
    }
    .coupon-code-apply-btn {
        font-size: 13px;
    }
    .chkout_paymentGateway_option {
        width: 46%!important;
        margin-bottom: 2rem!important;
    }
    .planContainer_main {
        display: flex;
        flex-wrap: wrap;
    }
    .chkoutPage_fontsize {
        font-size: 13px;
    }
    .chkout_Prive_right_Col_head {
        padding-left: 10px;
    }
    .ant-input {
        font-size: 13px;
    }
    .coupon-code-apply-btn {
        font-size: 12px;
    }
    .chkout_price_totalCost {
        font-size: 18px!important;
        margin: 0!important;
    }
}

@media only screen and (max-device-width:768px) {
    .uaf_chkout_package_outer {
        display: block;
        text-align: left;
    }
    .uaf_chkout_package_Inner {
        width: 31.85%!important;
        height: 180px!important;
    }
    .coupon-code-apply-btn {
        font-size: 13px;
    }
    .chkout_paymentGateway_option {
        width: 46%!important;
        margin-bottom: 2rem!important;
    }
    .planContainer_main {
        display: flex;
        flex-wrap: wrap;
    }
    .chkout_page_planCol {
        display: flex;
        flex-wrap: wrap;
    }
    .chkout_page_planCol_btns {
        width: 47%!important;
    }
    .plan_container_shippingProvider {
        display: flex;
        flex-wrap: wrap;
    }
    .plan_container_shippingProvider label {
        width: 46%!important;
        margin: 13px!important;
    }
    .package_addition_price_left {
        text-align: left;
    }
    .package_addition_price_right {
        text-align: right;
    }
    .package_addition_price_left h4, .package_addition_price_right h4 {
        margin: 0!important;
    }
    .chkout_price_totalCost {
        margin: 0!important;
    }
    .on_training_hour_change, .self_product_upload, .payment_gateway_username {
        margin-bottom: 10px;
    }
}

@media only screen and (max-device-width:480px) {
    .uaf_chkout_package_Inner {
        width: 97%!important;
        height: 180px!important;
        margin: 0 auto;
        text-align: center;
    }
    .chkout_page_planCol_btns {
        width: 97%!important;
    }
    .package_addition_price_left {
        text-align: left;
    }
    .package_addition_price_right {
        text-align: right;
    }
    .package_addition_price_left h4, .package_addition_price_right h4 {
        margin: 0!important;
    }
    .chkout_price_totalCost {
        margin: 0!important;
    }
    .scroll_terms_contdition {
        width: 100%;
        transform: translate(-2%, 0);
    }
    .Pricing_page2_business_category, .Pricing_page2_business_about, .Pricing_page2_business_email {
        padding: 0;
    }
    .Pricing_page2_col_business_category {
        margin: 0.5rem auto;
    }
    .Pricing_page2_col_business_email {
        margin: 0.5rem auto;
    }
    .Pricing_page2_col_business_about {
        margin: 0.5rem auto;
    }
    .Pricing_page2_col_business_about h4 {
        padding: 0;
    }
    .Pricing_page2_col_business_logo, .Pricing_page2_col_business_currency {
        padding: 0;
        margin-bottom: 1rem;
    }
    .Pricing_page2_col_business_currency_outer {
        margin: 0;
    }
    .Pricing_page2_main_outer {
        margin: 20px 0;
    }
    .chkout_paymentGateway_option {
        width: 100%!important;
    }
    .plan_container_shippingProvider label {
        width: 100%!important;
    }
    .on_training_hour_change, .self_product_upload, .payment_gateway_username {
        margin-bottom: 10px;
    }
}
@media only screen and (device-width:320px){
    div.ant-typography, .ant-typography p,h1.ant-typography, .ant-typography h1{
        font-size: 15px;
    }
    .package_addition_price_left h4, .package_addition_price_right h4 {
        margin: 0!important;
        display: inline-flex;
        font-size: 15px!important;
    }
    .package_addition_price_left h1, .package_addition_price_right h1 {
        margin: 0!important;
        display: inline-flex;
        font-size: 15px!important;
    }
    .Pricing_page2_col_business_currency_outer {
        margin: 0;
    }
    .chkout_page_planCol_btns div span{
        font-size: 22px;
    }
    .chkout_page_planCol_btns .Check-curr{
        font-size: 10px!important;
    }
    .chkoutPage_fontsize{
        font-size: 12px;
    }
}