.contactMain {
    padding: 5rem;
    margin: 0 auto;
    /* text-align: center; */
    background: #F7FBFC 0% 0% no-repeat padding-box;
}
.ant-col.contactUsHeading {
    text-align: center;
}

.contactUsHeading h1 {
    font: normal normal 500 44px Proxima Nova;
    margin: 0 auto;
    color: #191919;
}

.contactUsHeading hr {
    border: none;
    border-top: 7px solid #191919;
    max-width: 8%;
    margin: 0.8rem auto;
}

.contactUsFormMain {
    padding: 5rem;
    padding-bottom: 0;
}

select[name="country"] {
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #191919 !important;
    padding: 0;
}

.ant-form-item {
    margin-bottom: 30px;
}

.formInput {
    outline: none;
    border: none;
    border-bottom: 2px solid #191919;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: #191919;
    padding: 0;
}

.formInput:hover, .formInput:visited, .formInput:active, .formInput:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #191919;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

.uaf_cp-speakwith-btn {
    text-transform: uppercase;
    height: 40px;
    font: normal normal 500 16px Proxima Nova;
    width: 100%;
    background: #191919;
    color: #FFFFFF;
    border: 1px solid #191919;
    outline: none;
    box-shadow: none;
}

.uaf_cp-speakwith-btn:hover, .uaf_cp-speakwith-btn:visited, .uaf_cp-speakwith-btn:active, .uaf_cp-speakwith-btn:focus {
    background: #191919;
    color: #FFFFFF;
    border: 1px solid #191919;
    outline: none;
    box-shadow: none;
}

@media only screen and (max-device-width:768px) {
    .ant-row.ant-form-item {
        margin-bottom: 30px;
    }
    .contactMain {
        padding: 5rem 1rem;
    }
}

@media only screen and (max-device-width:430px) {
    .contactUsFormMain {
        padding: 5rem 0;
        padding-bottom: 0;
    }
    .contactMain {
        padding: 5rem 1rem;
    }
}