body {
  background: #ffffff !important;
  /* background: #191919 !important; */
  font-family: 'Proxima Nova';
}

.tagline-heading.pl-100 {
  padding-left: 100px !important;
}

.package-tabs {
  text-align: center;
}

li.ant-menu-item.ant-menu-item-selected {
  background: none !important;
}

li.ant-menu-item.ant-menu-item-selected:after {
  border-right: none !important;
}

.store-menu-sidebar>a.active {
  color: #00BCD4 !important;
  background: #00bcd426 !important;
  padding: 0 20px !important;
  margin-left: -20px !important;
}

.meetup-tag {
  font-size: 40px;
}

.meetup-tag {
  font-size: 35px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}

.event-container {
  max-width: 650px;
  font-size: 18px;
  padding: 150px 0px 0px 150px;
}

p.meetup-agenda-title {
  font-size: 20px;
  font-weight: 800;
  color: #8a8a8a;
  margin-bottom: 5px;
}

.christmas-banner {
  position: fixed;
  bottom: 10%;
  left: 0;
  z-index: 1000;
  width: 90%;
  max-width: 380px;
  padding: 30px;
  transform: translateX(-100%);
  transition: transform 250ms linear;
  color: #fff;
}

html .strike {
  text-decoration: line-through;
}

.christmas-banner__price strong, .christmas-banner__price b {
  color: #ffb229;
  font-weight: bold;
}

.button--premium.button--flat {
  box-shadow: inset 0px 0px 0px 100px #fba707;
  padding: 5px;
  color: #fff;
}

.Customize-app-tagline {
  height: 200px;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  padding: 15px 45px;
}

.Become-Our-Partner-form {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 80px;
  height: 100vh;
}

.partner-tagline {
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 250px;
  text-align: left;
}

.partner-tag {
  font-weight: 400 !important;
  color: #00bcd4 !important;
  font-size: 38px !important;
}

.partner-section-bg {
  /* background:url(../img/Liquid-Cheese.svg); */
  /* background: url(../img/Flat-Mountains1.svg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding-bottom: 150px; */
}

.apply-for-job-form {
  padding: 10% 50px;
  margin-right: 0;
  height: 100vh;
  /* background: rgb(255, 255, 255); */
  /* background:url(../img/Flat-Mountains.svg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.career-title {
  font-size: 55px !important;
}

form.ant-form-vertical.vacency-add-form {
  max-width: 400px;
  margin: 0 auto;
}

.partnership-form {
  padding: 25% 50px;
  margin-right: 0;
  height: 100vh;
  /* background: rgb(255, 255, 255); */
  /* background:url(../img/Flat-Mountains.svg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

span.bold-tag {
  font-weight: 700 !important;
  font-size: 28px !important;
  text-transform: uppercase;
  color: #474848 !important;
}

.store-card.theme-card {
  width: 100%;
  min-width: 250px;
  border: none;
}

.ant-card.store-card.theme-card.ant-card-bordered.ant-card-hoverable:hover {
  box-shadow: none;
}

.ant-card.store-card.theme-card.ant-card-bordered.ant-card-hoverable {
  background: none;
  max-width: 95%;
  margin: 30px auto 0 auto;
}

.ant-card.store-card.theme-card.ant-card-bordered.ant-card-hoverable>.ant-card-cover:hover {
  transform: scale(1.05);
}

.ant-card.store-card.theme-card.ant-card-bordered.ant-card-hoverable>.ant-card-cover {
  box-shadow: 0px 0px 10px #d1dfe4;
}

.ant-card.store-card.theme-card.ant-card-bordered.ant-card-hoverable>.ant-card-body>.ant-card-meta>.ant-card-meta-detail>.store-card .ant-card-meta-title {
  text-align: center;
  font-size: 20px;
}

.CallBack-switch>img {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
}

.theme-card .ant-card-meta-title {
  font-size: 20px;
  padding: 20px 0px;
}

.download.app-packs {
  margin-left: -15px;
}

a.download-app-button>img {
  width: 180px;
  margin: 31px 15px;
}

p.Faq-question {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 5px;
  color: #00bcd4;
}

.CallBack-switch {
  text-align: center;
  padding: 25px;
}

.ant-radio-group.ant-radio-group-outline.plan-container.faq-container {
  display: block;
  text-align: center;
}

.callback-switch-container {
  margin: 50px auto;
  max-width: 540px;
}

button.StripeCheckout {
  border-radius: 3px !important;
  width: 100%;
  height: 50px;
  background: #4fbfdd !important;
  border-color: #4fbfdd !important;
  padding-top: 10px !important;
  font-family: 'El Messiri', sans-serif;
  margin: 10px auto;
}

button.StripeCheckout>span {
  color: #fff !important;
  background: #4fbfdd !important;
  border-color: #4fbfdd !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
  border-radius: 0px !important;
  height: 50px !important;
  font-family: 'El Messiri', sans-serif;
  font-weight: 400 !important;
}

.alert {
  position: sticky;
  z-index: 9999899999;
  width: 100%;
  top: 150px;
  min-height: 50px;
  right: 50px;
  box-shadow: 0px 0px 4px #58575724;
  padding: 10px;
  min-width: 250px;
  border-radius: 2px;
  max-width: 300px;
}

.alert-sucess {
  background: #fff;
}

.alert-danger {
  background: #fff;
  /* color: #fff; */
}

/* .D-requestForDemoButton{
    animation-name: shake-with-delay;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes shake-with-delay {
    from, 16%, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    1.6%, 4.8%, 8%, 11.2%, 14.4% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    3.2%, 6.4%, 9.6%, 12.8% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
} */

.Order-list-tabs>.ant-tabs-bar.ant-tabs-top-bar {
  text-align: center;
}

.m-guestLinks {
  display: none;
}

.is-active {
  color: #4fbfdd !important;
  border-bottom: 0px solid #ffffff00 !important;
}

.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
  color: unset;
  border-bottom: unset;
}

.ant-menu-horizontal>.ant-menu-item-selected>a {
  color: unset;
}

.ant-menu-horizontal>.ant-menu-item:hover, .ant-menu-horizontal>.ant-menu-submenu:hover, .ant-menu-horizontal>.ant-menu-item-active, .ant-menu-horizontal>.ant-menu-submenu-active, .ant-menu-horizontal>.ant-menu-item-open, .ant-menu-horizontal>.ant-menu-submenu-open, .ant-menu-horizontal>.ant-menu-item-selected, .ant-menu-horizontal>.ant-menu-submenu-selected {
  color: unset;
  border-bottom: 2px solid #fff0;
}

.flag-select {
  position: relative;
  display: inline-block;
  vertical-align: inherit;
  padding-bottom: 0px !important;
  color: #4d4d4d;
  text-align: left;
}

.cancelCoupon {
  float: right;
}

.flag-select .flag-option.has-label {
  padding: 0px 20px 3px 8px;
  line-height: 2 !important;
}

.flag-select img {
  width: 1.3em;
  height: 1.3em;
  position: relative;
  top: 0em !important;
}

.upapp-value-container {
  text-align: center;
}

.upapp-value-container>img {
  width: 150px;
  height: 150px;
}

.upapp-value-container>p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px 10px;
}

.our-mission {
  width: 100%;
}

.mission-msg {
  font-size: 20px;
  padding: 0px 100px;
}

.vision-msg {
  font-size: 20px;
  padding: 0px 100px;
}

.text-center {
  text-align: center;
}

.request-for-demo-single-page {
  text-align: center;
  max-width: 200px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 0px 90px 0px;
}

body {
  overflow: inherit;
  padding-right: inherit !important;
}

.about-us-section {
  font-size: 16px;
  margin: 50px 100px;
}

.coupon-code-input-box {
  width: 70% !important;
  height: 50px;
}

.coupon-code-apply-btn {
  width: 30%;
  height: 50px;
}

.d-authLinks {
  float: right;
  padding: 0px 15px;
  margin: 20px 10px;
  height: 40px;
  display: block;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.pr-40 {
  padding-right: 40px;
}

.app-search-bar-container-ltr>.Appsearch {
  text-align: left;
}

.app-search-bar-container-rtl>.Appsearch {
  text-align: right;
}

.ant-input-affix-wrapper .ant-input-suffix {
  right: unset;
  left: unset;
  display: none;
}

.Appsearch-rtl>.ant-input-affix-wrapper .ant-input-suffix {
  right: unset;
  left: 15px;
}

.app-search-bar-container-ltr>.ant-input-search .Appsearch .ant-input-affix-wrapper>.ant-input-affix-wrapper {
  right: 20px !important;
  font-size: 25px;
}

.app-search-bar-container-rtl>.ant-input-search .Appsearch .ant-input-affix-wrapper>.ant-input-affix-wrapper {
  left: 20px !important;
  font-size: 25px;
}

.app-search-bar-container-ltr {
  padding-top: 30px;
}

.app-search-bar-container-rtl {
  padding-top: 30px;
}

.banner-anim-arrow.banner-anim-arrow-default.prev {
  position: absolute;
  width: 20px;
  left: 0px;
}

.tagline-career {
  text-align: left;
  padding-left: 50px;
  padding-right: 10%;
  padding-top: 0%;
}

.tagline-heading.ltr {
  padding-top: 200px;
  text-align: left;
  padding-left: 100px;
}

.tagline-heading.rtl {
  padding-top: 200px;
  text-align: right;
  padding-right: 100px;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.d-guestLinks {
  padding: 0px 15px;
  height: 40px;
  display: block;
  float: right;
}

.m-authLinks {
  display: none;
}

.D-requestForDemoButton {
  display: block;
  width: 200px;
  height: 40px;
  font-size: 18px;
  float: right;
}

.M-requestForDemoButton {
  display: none;
}

.request-for-demo-single-page>.m-request-for-demo-menu {
  display: none;
}

.m-request-for-demo-menu {
  display: none;
}

.menu-action-btn {
  float: right;
  margin-top: 20px !important;
}

.dubai-add {
  text-align: center;
  color: #fff;
  padding: 50px;
  margin: 0 auto;
  height: 300px;
  background: #00000069;
}

.dubai-add>div {
  max-width: 500px;
  margin: 30px auto;
}

.radio-checkout-Price {
  padding: 30px 0px;
}

.select.edit-country-selector {
  background: #fff;
}

.up-app-special-bg {
  /* background: url(../img/brand/upapp-special-bg.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0px;
  background-position: center;
  margin: 50px auto 0px auto;
}

.upappSpecial-icon {
  /* background: url(../img/brand/upappSpecialIcon.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.upapp-feature-icons {
  height: 65px;
  width: 65px;
  background: #eee;
  border-radius: 50px;
  padding: 15px;
  margin: 15px auto;
}

.feature-img-eUpApp-container {
  width: 100%;
  text-align: center;
}

img.feature-img-eUpApp {
  max-width: 150px;
}

.Check-curr {
  font-size: 15px;
  position: relative;
  top: -14px;
  color: #676767;
  /* right: -5px */
}

.up-app-special-card:hover {
  background: #f1fbff;
  color: #fff;
  transition: background 0.2s linear;
  cursor: pointer;
  border-radius: 10px;
}

.screenshot-title {
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
}

select[name="country"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
}

select[disabled] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  color: #ccc;
}

.retail-dive-logo {
  width: 120px !important;
  background: #000;
}

.cision-logo {
  width: 80px !important;
  background: #fff;
}

.ft-logo {
  width: 220px !important;
  background: #fff;
}

.src-logo-tag {
  padding: 5px 15px !important;
  border-radius: 0px !important;
  margin: 0px 5px 0px 5px !important;
  display: inline-block !important;
}

/*  Privacy & Policy */

.list-cirle {
  list-style-type: circle;
  font-size: 18px;
  font-weight: 700;
}

.pp-sub-heading-list {
  font-weight: 600;
}

.pp-f12 {
  font-size: 12px;
}

.Privacy-policy-container .ant-card-body {
  max-width: 750px;
  margin: 50px auto;
  border: 1px solid #eee;
  max-height: 100vh;
  overflow-y: auto;
}

/* Privacy & Policy End */

/* Refund Privacy Policy */

.crp-sub-heading-list {
  font-weight: 600;
}

/* Refund Privacy Policy */

.banner-user-elem {
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.banner-user-elem .banner-user-title {
  font-size: 32px;
  top: 40%;
}

.banner-user-elem .banner-user-text {
  top: 40%;
}

.banner-anim-elem .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.discount-price {
  position: relative;
}

.discount-price:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #607d8b;
  border-width: 5px;
  margin-left: -5px;
}

.slick-prev::before, .slick-next::before {
  font-family: "slick";
  font-size: 40px !important;
  color: #676767 !important;
}

/* slider animation  */

.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider a.previousButton, .slider a.nextButton {
  font-size: 22px;
  line-height: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s linear;
  z-index: 1;
  padding: 10px;
  text-decoration: none;
  backface-visibility: hidden;
  /* prevent jump effect when scaling */
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
  transform: translateY(-50%) scale(1.25);
  cursor: pointer;
}

.slider a.previousButton svg polygon, .slider a.nextButton svg polygon {
  fill: #ffd800;
}

.slider a.previousButton {
  left: 20px;
}

.slider a.nextButton {
  right: 20px;
}

.sliderContent {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-size: cover !important;
}

.sliderContent:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.sliderContent.hidden {
  visibility: hidden;
}

.sliderContent.previous {
  left: -100%;
}

.sliderContent.current {
  left: 0;
}

.sliderContent.next {
  left: 100%;
}

.sliderContent.animateIn, .sliderContent.animateOut {
  transition: all 2s ease;
}

.sliderContent.animateIn.previous, .sliderContent.animateIn.next {
  left: 0;
  visibility: visible;
}

.sliderContent.animateIn.previous p, .sliderContent.animateIn.next p {
  transition-delay: 1.1s;
}

.sliderContent.animateIn.previous button, .sliderContent.animateIn.next button {
  transition-delay: 1.3s;
}

.sliderContent.animateIn.previous section img, .sliderContent.animateIn.next section img {
  transition-delay: 1.3s;
}

.sliderContent.animateIn.previous section span, .sliderContent.animateIn.next section span {
  transition-delay: 1.4s;
}

.sliderContent.animateIn.previous section span strong, .sliderContent.animateIn.next section span strong {
  transition-delay: 1.5s;
}

.sliderContent.animateOut.previous {
  left: 100%;
}

.sliderContent.animateOut.next {
  left: -100%;
}

.sliderContent.animateOut h1 {
  transition-delay: 0.3s;
}

.sliderContent.animateOut p {
  transition-delay: 0.2s;
}

.sliderContent.animateOut section span {
  transition-delay: 0.1s;
}

.sliderContent.animateOut section span strong {
  transition-delay: 0s;
}

.sliderContent.current h1, .sliderContent.current button, .sliderContent.current p, .sliderContent.current section *, .sliderContent.animateIn h1, .sliderContent.animateIn button, .sliderContent.animateIn p, .sliderContent.animateIn section * {
  transform: translateX(0);
  transition-delay: 0.9s;
  opacity: 1;
}

.sliderContent .inner {
  padding: 0 70px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sliderContent h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #ffffff;
  font-size: 64px;
  line-height: 1;
  transition: all 0.3s ease;
  transform: translateY(-20px);
  opacity: 0;
}

.sliderContent p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
  transition: all 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
}

.sliderContent button {
  transition: all 0.3s ease;
  transform: translateY(20px);
  opacity: 0;
}

.sliderContent section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sliderContent section * {
  transition: all 0.3s ease;
}

.sliderContent section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
  transform: translateX(-10px);
  opacity: 0;
}

.sliderContent section span strong {
  color: #ffffff;
  font-size: 14px;
  display: block;
  transform: translateY(10px);
  opacity: 0;
}

.sliderContent section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
  transition: all 0.5s ease;
  transform: translateX(-20px);
  opacity: 0;
}

.D-billed {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: block;
}

.M-billed {
  display: none;
}

/* Slider Animation End */

button.ant-btn.ss-prev-btn {
  font-size: 25px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 60px;
}

button.ant-btn.ss-next-btn {
  font-size: 25px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 60px;
}

/* BG Animation */

.slide-bg-animation {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  overflow: hidden;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* BG animation End */

.Slider-img1 {
  padding-top: 150px;
  padding-right: 100px;
}

.ant-typography {
  color: rgb(0, 0, 0);
}

.fontSize-18 {
  font-size: 18px !important;
}

.fw-700 {
  font-weight: 700 !important;
}

/* For demo */

.ant-carousel .slick-slide {
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* background: #1890ff; */
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.slide-blue {
  height: 100vh;
  width: 100vw;
  background: #0078ff;
  overflow: hidden;
}

.slide-green {
  height: 100vh;
  width: 100vw;
  background: Purple;
  overflow: hidden;
}

.heading-1 {
  font-size: 45px !important;
}

.heading-2 {
  font-size: 45px;
}

.heading-3 {
  font-size: 40px;
}

.heading-4 {
  font-size: 35px;
}

.heading-5 {
  font-size: 30px;
}

/* .ant-tag {
	margin: 3px 0px !important;
	color: #ffffff;
	background: #1890ff;
	border: none;
	padding: 3px 10px;
	border-radius: 30px;
} */

.Select_plan>.ant-card-body {
  padding: 10px;
  text-align: center;
}

.order-table-card>.ant-card-body {
  padding: 0px;
}

.adminDash-logo {
  padding: 10px 20px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px;
}

/* .logo {
  background: url("../img/logo.png");
  margin-top: 14px;
  height: 75px;
  margin-left: 75px;
  width: 180px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 0;
  margin-top: 6px;
} */

.ant-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

span.ant-upload-picture-card-wrapper {
  display: flow-root;
}

.text-white-1 {
  color: rgba(255, 255, 255, 1) !important;
}

.text-white-2 {
  color: rgba(250, 255, 255, 1) !important;
}

.ant-tag {
  margin: 3px 3px;
}

.contact-heading {
  padding-top: 5%;
  text-align: center;
}

.light-text {
  font-weight: 400 !important;
  /* color: rgba(0, 0, 0, 0.85) !important; */
}

.fontSize-40 {
  font-size: 40px !important;
}

.fontSize-25 {
  font-size: 25px !important;
}

.fontSize-20 {
  font-size: 20px !important;
}

.fontSize-30 {
  font-size: 30px !important;
}

.fontSize-18 {
  font-size: 18px !important;
}

.fontSize-16 {
  font-size: 16px !important;
}

.bold-text {
  font-weight: 600;
}

.pl-40 {
  padding-left: 40px;
}

.pr-100 {
  padding-right: 100px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-20 {
  padding-bottom: 20px;
}

.border-bottom-1 {
  border-bottom: 2px solid #ffffffc9;
}

.border-bottom-2 {
  border-bottom: 2px solid #ffffffc9;
}

.home-feature-img {
  text-align: center;
  max-height: 500px;
}

.ant-layout-footer {
  background: #191919 !important;
  padding: 15px 50px;
}

.featureList-container {
  padding: 15px;
  /* min-height: 175px; */
  max-height: 100%;
}

.featureList>.ant-spin-nested-loading>.ant-spin-container>.ant-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.s-feature-img {
  width: 100%;
  max-width: 300px;
}

/* .app-footer {
	text-align: left;
} */

.m-storesidebar {
  display: none;
}

.lg-storesidebar {
  display: block;
}

.green-6 {
  color: #43be16;
}

.form-card {
  /* background: #fafafa; */
  padding: 100px;
  box-shadow: 0px 0px 85px #fafafa7a;
}

.slim-card>.ant-card-body {
  padding: 10px;
}

.slim-card .ant-card-head {
  padding: 0px 10px;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.sap-border {
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0.6;
}

/**************************************************************************************************/

/*  Radio Button */

.plan-container {
  display: flex;
}

.plan-container>label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  width: 250px;
  height: 180px;
  border-radius: 5px;
  margin: 10px 10px;
}

.plan-container>label.ant-radio-button-wrapper {
  width: 250px;
  height: 180px;
  border-radius: 5px;
  margin: 10px 10px;
}

.plan-container>.ant-radio-button-wrapper:not(:first-child)::before {
  width: 0px !important;
  border-left: 1px !important;
}

.plan-container>.ant-radio-button-wrapper .ant-radio-button-wrapper-checked {
  border-left: 0px solid #d9d9d9 !important;
}

.plan-container>.ant-radio-button-wrapper {
  border-left: 1px solid #d9d9d9;
}

.plan-container>.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  -webkit-box-shadow: 0px 0 0 0 #1890ff;
  box-shadow: 0px 0 0 0 #1890ff;
}

.plan-container>.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: #1890ff38;
  border-color: #1890ff;
}

.plan-container>.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  color: #fff;
  background: #1890ff38;
  border-color: #40a9ff;
  box-shadow: none;
}

.footer-cont {
  text-align: right;
}

footer.admin-footer {
  padding: 5px 5px;
}

.socialIcons a {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  padding: 5px;
}

/* End Radio Button */

/**************************************************************************************************/

/* Subscription Pack Radio Button */

.Pack-chooser-container>label.year {
  /* border-radius: 50px 0px 0px 50px; */
  border-radius: 50px;
}

.Pack-chooser-container>label.month {
  /* border-radius: 0px 50px 50px 0px; */
  border-radius: 50px;
}

.ant-radio-group.ant-radio-group-solid.ant-radio-group-large.Pack-chooser-container {
  background: #f3f3f3;
  border-radius: 50px;
  border: 2px solid #fff;
}

.subs-bg-blue {
  padding-left: 8px;
  padding-right: 8px;
  height: 100px;
  background: #2196f3;
}

.Pack-chooser-container>.ant-radio-button-wrapper:not(:first-child)::before {
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  width: 0px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  content: "";
}

.Pack-chooser-container>label.ant-radio-button-wrapper {
  height: 40px;
  margin: 0;
  padding: 0 15px;
  width: 120px;
  font-size: 18px;
  background: #f3f3f3;
  border: none;
  box-shadow: none;
  outline: none;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  outline: none;
}

.walk-through-step-btn {
  width: auto;
  margin: auto 10px;
}

.walk-through-step-btn.proceed-to-checkout {
  float: right;
}

.price-app-selection {
  background: #f4f7f9;
  height: 60px;
}

.price-app-menu {
  width: 60%;
  max-width: 300px;
  margin-top: 10px;
}

.m-category-menu {
  display: none;
}

.appRequestBG {
  max-width: 750px;
}

.d-faq {
  display: block;
}

.m-faq {
  display: none;
}

.demo-request-form-single {
  margin-top: 80px;
  box-shadow: "0px 0px 10px #ccc";
  padding: 40px 20px;
  margin-left: 30px;
  margin-right: 30px;
  background: #fff;
}

.entry-modal>div.ant-modal-content>button>span>i.anticon.anticon-close.ant-modal-close-icon {
  font-size: 35px!important;
  margin-right: 50px;
  margin-top: 20px;
}

.ant-layout-header {
  background: transparent;
}

.uaf_mainwebsite_linkbtn {
  color: #fff;
  background-color: #4fbfdd;
  border-color: #4fbfdd;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
  margin-right: -50px;
  margin-left: 50px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .uaf_mainwebsite_linkbtn {
    margin: 0;
  }
  .U-Menu {
    font-size: 15px;
  }
  .brand-logo {
    max-width: 89%;
  }
  .logo {
    max-width: 40%;
  }
}

@media only screen and (min-device-width: 421px) and (max-device-width: 767px) {
  .uaf_mainwebsite_linkbtn {
    margin: 0;
    height: 34px;
    padding: 0 15px;
    font-size: 13px;
    border-radius: 2px;
  }
  .U-Menu {
    font-size: 15px;
  }
  .brand-logo {
    max-width: 80%;
  }
  .logo {
    max-width: 70%;
  }
}

@media only screen and (max-device-width: 420px) {
  .uaf_mainwebsite_linkbtn {
    margin: 0;
    margin-top: 28px;
    height: 30px;
    padding: 0 15px;
    font-size: 11px;
    border-radius: 2px;
  }
  .U-Menu {
    font-size: 15px;
  }
  .brand-logo {
    max-width: 70%;
    margin: 0!important;
  }
  .logo {
    max-width: 80%;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1440px) {
  /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
  .lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    margin: 65px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
  }
  .demo-request-form-single {
    margin-top: 80px;
    box-shadow: "0px 0px 10px #ccc";
    padding: 40px 20px;
    background: #fff;
    max-width: 500px;
    margin: 0 auto;
  }
  .section-carrer {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    height: 650px;
    margin-top: 80px;
  }
  .tagline-apply-Job-section-1 {
    display: none;
  }
  .tagline-career {
    text-align: left;
    padding-left: 50px;
    padding-right: 10%;
    padding-top: 0%;
    background: #5a5a5abf;
    width: 43%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Customize-app-tagline {
    height: unset;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    padding: 15px 45px;
  }
  .pack-card {
    margin: 0px auto 30px auto;
  }
  .cc-selector.float-left.ant-select.ant-select-enabled {
    margin-left: -15px;
  }
  .career-title {
    font-size: 35px !important;
  }
  .tagline-career-section-1 {
    /* background-image: url(../img/career/GREATECULTUREMobile.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1566px;
    /* margin-top: 80px; */
  }
  .tagline-career-section-2 {
    /* background-image: url(../img/career/Hiring_Process_mobile.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1566px;
  }
  .tagline-career-section-3 {
    display: none;
    /* background-image: url(../img/career/thinkdiffrent.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
  }
  .partner-tagline {
    padding: 15px;
    height: 230px;
  }
  .download.app-packs {
    margin-left: -15px;
    margin-top: 30px;
  }
  a.download-app-button>img {
    width: 180px;
    margin: 5px 15px;
  }
  .package-img {
    text-align: center;
    margin-bottom: 20px;
  }
  .tagline-heading.ltr, .tagline-heading.rtl {
    padding-top: 35%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
  .d-faq {
    display: none;
  }
  .m-faq {
    display: block !important;
  }
  .m-faq .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
    padding: 25px;
  }
  .m-faq .ant-drawer-content-wrapper .ant-drawer-content {
    overflow: auto;
  }
  .CallBack-switch {
    text-align: center;
    padding: 0px 10px;
  }
  .CallBack-switch>img {
    max-width: 100px;
    width: 60px;
  }
  .CallBack-switch>span {
    display: block;
  }
  .demoRequestBG {
    display: none;
  }
  .appRequestBG {
    display: none;
  }
  .flag-select .selected--flag--option {
    cursor: pointer;
    padding: 0 0px;
  }
  .flag-select .flag-options {
    position: fixed;
    z-index: 999999;
    border: 1px solid #bdbbbb;
    border-radius: 3px;
    background: #fff;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 160px;
    overflow: auto;
  }
  .cutomise-app-tagline {
    text-align: center;
    padding-bottom: 10px;
  }
  .View-Details-btn {
    margin: 10px auto;
  }
  .ant-table-body {
    overflow-x: scroll;
  }
  .ant-modal-footer {
    padding: 10px 16px;
    text-align: left;
    background: transparent;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 3px 3px;
  }
  .coupon-code-input-box {
    width: 100% !important;
    height: 50px;
  }
  .coupon-code-apply-btn {
    margin-top: 15px;
    width: 100%;
    height: 50px;
  }
  .ant-steps-item-title {
    display: none;
  }
  .about-us-section {
    font-size: 16px;
    margin: 50px 15px 0px 15px;
  }
  .mission-msg {
    font-size: 20px;
    padding: 10px 20px;
  }
  .vision-msg {
    font-size: 20px;
    padding: 10px 20px;
  }
  .ant-modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 9999999999; */
    overflow: auto;
    outline: 0;
  }
  .request-for-demo-single-page {
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 55px 0px;
  }
  .request-for-demo-single-page>button {
    display: block;
  }
  .drawer-v-Menu>li.ant-menu-item {
    font-size: 18px;
  }
  .app-packs {
    display: grid;
  }
  .brand-logo {
    margin-left: 15px;
    margin-right: 0;
    width: 100%;
  }
  a.brand-logo>div {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .ant-layout-footer {
    /* padding: 40px 5px 0px 5px; */
    padding: 15px 50px;
  }
  .ant-form-item-label {
    display: block;
    margin: 0;
    padding: 8px 0 0px;
    line-height: 1.5;
    white-space: initial;
    text-align: left;
  }
  .ant-row.ant-form-item {
    margin-bottom: 5px;
  }
  .m-v-menu-icon {
    font-size: 20px;
    margin-bottom: -5px;
  }
  .ant-drawer-body {
    padding: 24px 0px;
  }
  .m-guestLinks {
    display: block;
    font-size: 18px;
  }
  .m-category-menu {
    border-radius: 0px;
    display: block;
    position: fixed;
    z-index: 2;
    background: #333;
    bottom: 0px;
    width: 100%;
    border: none;
    height: 60px;
    color: #fff;
    box-shadow: 0px 0px 10px #0005;
    text-shadow: none;
    font-size: 20px;
  }
  .m-category-drawer>.ant-drawer-content-wrapper {
    height: 350px !important;
    text-align: center;
  }
  .m-category-drawer>.ant-drawer-content-wrapper>.ant-drawer-content .ant-drawer-wrapper-body>.ant-drawer-body {
    height: 300px;
    overflow-y: scroll;
  }
  .store-card {
    max-width: 95%;
    width: 100%;
    min-width: 300px;
    margin: 30px auto auto auto;
    border: none;
  }
  .price-app-menu {
    width: 60%;
    margin-top: 10px;
  }
  .price-app-selection {
    background: #f4f7f9;
    height: 100%;
    padding: 15px 0px;
  }
  .contact-form-container {
    background: #fff;
    padding: 24px 24px 5px 24px;
    max-width: 450px;
    width: calc(100% - 30px);
    margin: auto auto;
    /* margin-right: 40px; */
    /* float: right; */
    margin-top: 30px;
    box-shadow: 0px 0px 3px #ccc;
  }
  .Select_plan>.ant-card-body {
    padding: 10px 5px;
    text-align: center;
  }
  .Check-curr {
    font-size: 10px;
    position: relative;
    top: -14px;
    color: #676767;
    /* right: -5px */
  }
  .walk-through-step-btn {
    margin: 5px auto;
    float: none !important;
    width: 100% !important;
  }
  .walk-through-step-btn.proceed-to-checkout>button {
    float: none !important;
    width: 100%;
    margin: 5px auto;
  }
  .logo {
    /* background: url(../img/brand/m-logo.jpg); */
    margin-top: 14px;
    height: 50px;
    margin-left: 20px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .Appsearch {
    width: 50%;
    height: 40px;
    margin-top: 0px;
    max-width: 750px;
    min-width: 280px;
    font-weight: 400;
    font-size: 18px;
  }
  
  .hero-bg {
    /* background: url(../img/brand/header-bg.webp); */
    margin-top: 78px;
    background: url(../../img/herobg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 110px;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .hero-title {
    padding-top: 35px;
  }
  .app-search-bar-container {
    padding-top: 30px;
  }
  .d-authLinks {
    display: none;
  }
  .d-guestLinks {
    display: none;
    margin-top: 0px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    color: rgba(0, 0, 0, 0.65) !important;
  }
  .m-authLinks {
    display: block;
  }
  .ant-menu-item, .ant-menu-submenu-title {
    padding: 0px;
  }
  .menu-action-btn {
    float: left;
    margin-top: 0px;
    width: 100%;
  }
  /* Styles */
  .D-requestForDemoButton {
    display: none;
  }
  .M-requestForDemoButton {
    padding: 0px;
    margin-top: 8px;
    float: left;
  }
  .drawer-v-Menu>.menu-action-btn {
    display: none;
  }
  .ant-steps-horizontal.ant-steps-label-horizontal {
    display: flex;
    /* max-width: 255px;
		margin: 0 auto; */
  }
  .m-request-for-demo-menu {
    display: block;
  }
  .request-for-demo-single-page>.m-request-for-demo-menu {
    display: none;
  }
  .plan-container {
    display: block;
    text-align: center;
  }
  .radio-checkout-Price {
    padding: 5px 0px;
  }
  .plan-container>label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 10px 5px;
  }
  .plan-container>label.ant-radio-button-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px;
  }
  .D-billed {
    display: none;
  }
  .M-billed {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    display: block;
  }
  button.ant-btn.ss-prev-btn {
    display: none;
  }
  button.ant-btn.ss-next-btn {
    display: none;
  }
  .fontSize-40 {
    font-size: 25px !important;
  }
  .fontSize-25 {
    font-size: 18px !important;
  }
  .fontSize-20 {
    font-size: 16px !important;
  }
  .fontSize-30 {
    font-size: 22px !important;
  }
  .pl-40 {
    padding-left: 0px;
  }
  .pr-100 {
    padding-right: 0px;
  }
  .global-ecommerce-container {
    padding: 15px;
    text-align: center;
  }
  .ready-build-app {
    padding: 15px;
    text-align: center;
  }
  .slick-slider {
    width: 100% !important;
    /* max-width: 1440px !important; */
    left: 0px !important;
    overflow-x: hidden;
  }
  .tagline-heading {
    padding-top: 80px !important;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .heading-45 {
    font-size: 45px !important;
  }
  /* .ant-message-notice:first-child {
        margin-top: 70px;
    } */
  .ant-layout-header {
    height: 100%;
    padding: 0 10px;
    line-height: 80px;
    max-height: 80px;
    /* overflow-y: hidden; */
  }
  .featureList-container {
    padding: 0px;
  }
  .app-footer {
    text-align: left;
  }
  .m-storesidebar {
    display: block;
    position: fixed;
    top: 100px;
    z-index: 999;
    box-shadow: 0px 0px 10px #00000026;
    border-radius: 0px;
    font-size: 20px;
    background: #676767;
    border: 1px solid #676767;
  }
  .lg-storesidebar {
    display: none;
  }
  .home-feature-img>img {
    position: relative;
    top: 50px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 580px !important;
  }
  .sm-text-center {
    text-align: center;
  }
  .home-tagline {
    padding: auto 15px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .footer-section {
    margin: 20px 0px;
  }
  .footer-copy-right {
    text-align: center;
  }
  .footer-cont {
    text-align: center;
  }
  .footer-cont>.ant-select {
    margin: 5px 5px;
  }
  .profile-form-label {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  a.mobile-menu-name-data {
    font-size: 12px;
  }
  .fb_dialog.fb_dialog_mobile {
    display: none;
  }
  .tagline-heading.ltr, .tagline-heading.rtl {
    padding-top: 35%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
  .d-faq {
    display: none;
  }
  .m-faq {
    display: block !important;
  }
  .m-faq .ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-wrapper-body .ant-drawer-body {
    padding: 25px;
  }
  .m-faq .ant-drawer-content-wrapper .ant-drawer-content {
    overflow: auto;
  }
  .CallBack-switch {
    text-align: center;
    padding: 0px 10px;
  }
  .CallBack-switch>img {
    max-width: 100px;
    width: 60px;
  }
  .CallBack-switch>span {
    display: block;
  }
  .demoRequestBG {
    display: none;
  }
  .appRequestBG {
    display: none;
  }
  .flag-select .selected--flag--option {
    cursor: pointer;
    padding: 0 0px;
  }
  .flag-select .flag-options {
    position: fixed;
    z-index: 999999;
    border: 1px solid #bdbbbb;
    border-radius: 3px;
    background: #fff;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 160px;
    overflow: auto;
  }
  .cutomise-app-tagline {
    text-align: center;
    padding-bottom: 10px;
  }
  .View-Details-btn {
    margin: 10px auto;
  }
  .ant-table-body {
    overflow-x: scroll;
  }
  .ant-modal-footer {
    padding: 10px 16px;
    text-align: left;
    background: transparent;
    border-top: 1px solid #e8e8e8;
    border-radius: 0 0 3px 3px;
  }
  .coupon-code-input-box {
    width: 100% !important;
    height: 50px;
  }
  .coupon-code-apply-btn {
    margin-top: 15px;
    width: 100%;
    height: 50px;
  }
  .ant-steps-item-title {
    display: none;
  }
  .about-us-section {
    font-size: 16px;
    margin: 50px 15px 0px 15px;
  }
  .mission-msg {
    font-size: 20px;
    padding: 10px 20px;
  }
  .vision-msg {
    font-size: 20px;
    padding: 10px 20px;
  }
  .ant-modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 9999999999; */
    overflow: auto;
    outline: 0;
  }
  .request-for-demo-single-page {
    text-align: center;
    max-width: 200px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px 55px 0px;
  }
  .request-for-demo-single-page>button {
    display: block;
  }
  .drawer-v-Menu>li.ant-menu-item {
    font-size: 18px;
  }
  .app-packs {
    display: grid;
  }
  .brand-logo {
    margin-left: 15px;
    margin-right: 0;
    width: 100%;
  }
  a.brand-logo>div {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 80%;
    margin-top: 10px;
    background-position: left;
  }
  .ant-layout-footer {
    padding: 40px 5px 0px 5px;
  }
  .ant-form-item-label {
    display: block;
    margin: 0;
    padding: 8px 0 0px;
    line-height: 1.5;
    white-space: initial;
    text-align: left;
  }
  .ant-row.ant-form-item {
    margin-bottom: 5px;
  }
  .m-v-menu-icon {
    font-size: 20px;
    margin-bottom: -5px;
  }
  .ant-drawer-body {
    padding: 24px 0px;
  }
  .m-guestLinks {
    display: block;
    font-size: 18px;
  }
  .m-category-menu {
    border-radius: 0px;
    display: block;
    position: fixed;
    z-index: 2;
    background: #333;
    bottom: 0px;
    width: 100%;
    border: none;
    height: 60px;
    color: #fff;
    box-shadow: 0px 0px 10px #0005;
    text-shadow: none;
    font-size: 20px;
  }
  .m-category-drawer>.ant-drawer-content-wrapper {
    height: 350px !important;
    text-align: center;
  }
  .m-category-drawer>.ant-drawer-content-wrapper>.ant-drawer-content .ant-drawer-wrapper-body>.ant-drawer-body {
    height: 300px;
    overflow-y: scroll;
  }
  .logo {
    /* background: url(../img/brand/m-logo.jpg); */
    margin-top: 14px;
    height: 50px;
    margin-left: 20px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .ant-menu-item, .ant-menu-submenu-title {
    padding: 0px;
  }
  .menu-action-btn {
    float: left;
    margin-top: 0px;
    width: 100%;
  }
  /* Styles */
  .drawer-v-Menu>.menu-action-btn {
    display: none;
  }
  .ant-layout-header {
    height: 100%;
    padding: 0 10px;
    line-height: 80px;
    max-height: 80px;
    /* overflow-y: hidden; */
  }
  .app-footer {
    text-align: left;
  }
  .footer-section {
    margin: 20px 0px;
  }
  .footer-copy-right {
    text-align: center;
  }
  .footer-cont {
    text-align: center;
  }
  .footer-cont>.ant-select {
    margin: 5px 5px;
  }
}