@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Alt\ Thin.otf);
    font-style: thin;
    font-weight: 100;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Alt\ Light.otf);
    font-style: thin;
    font-weight: 200;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Thin.otf);
    font-style: thin;
    font-weight: 300;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/ProximaNova-Regular.otf);
    font-style: Bold;
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Bold.otf);
    font-style: Bold;
    font-weight: 500;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Alt\ Bold.otf);
    font-style: Bold;
    font-weight: 600;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Extrabold.otf);
    font-style: Bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../base/font/Proxima\ Nova\ Black.otf);
    font-style: Black;
    font-weight: 800;
}

.ant-menu-horizontal>.ant-menu-item>a, .menu_Item {
    color: #191919!important;
}

.U-Menu {
    line-height: 90px;
    text-align: end;
    font-size: 18px;
    height: 100%;
    padding: 0px 10px 0px 30px;
    border: none;
    font-weight: 500;
    background: none;
    /* background-color: #E8E8E8; */
    /* background-color: transparent; */
    padding-right: 8rem;
}

.UAF-container-fluid {
    overflow-x: hidden;
}

.logo {
    background: url("./logo.png");
    margin-top: 14px;
    height: 80px;
    width: 150px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 8px auto;
    margin-left: 50px;
}

.header-comp {
    position: fixed;
    height: 90px;
    z-index: 98;
    width: 100%;
    padding: 0px 0px;
    background: #ffffffad;
    /* background-image: linear-gradient(transparent, #ffffff); */
    top: 0px;
}

.ant-menu-item:focus, .ant-menu-item:hover {
    outline: none;
}

/* End of Contact Form */

.ant-layout-footer {
    /* padding: 40px 50px 0px 50px; */
    padding: 15px 50px 15px 50px;
}

.fotterMain_row {
    justify-content: center;
}

@media only screen and (max-width: 1024px) {
    .fotterMain_row {
        justify-content: space-between;
    }
}

.footer-nav-item {
    font-weight: 300;
    margin: 10px auto;
    opacity: 0.85;
    font-size: 16px;
}

ul.ant-list-items>li.subs-feature-list {
    border-bottom: 0px solid #e8e8e8 !important;
    font-size: 14px;
    font-weight: 300;
    max-width: 290px;
    margin: 0 auto;
    padding: 5px 0px;
}

.footer-nav-item span, .footer-section h1, .footer-copy-right, .footer-copy-right a {
    color: #ffffff;
}

.footer-copy-right span {
    color: #ffffffaf;
}