.Start-Now-btn{
    background:#191919;
    border-radius:"3px";
    border: 1px solid;
    color:#fff;
    width: 150px;
    height: 40px;
    font-size: 20px;
}
.menuToggleButton.right {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
    height: 40px;
    z-index: 1;
    position: relative;
    padding-bottom: 0px;
    cursor: pointer;
}

.menuToggleButton.left {
    float: left;
    margin-left: 30px;
    margin-top: 25px;
    height: 40px;
    z-index: 1;
    position: relative;
    padding-bottom: 0px;
    cursor: pointer;
}
.logo {
    z-index: 1;
    position: relative;
}


.ant-card.store-card.theme-card.ant-card-bordered.ant-card-hoverable > .ant-card-cover > a > img {
    width: 100%;
}

.slick-slide img {
    box-shadow: none !important;
}


.section-heading{
    font-size: 40px;
    line-height: 1.2;
}
.fullWidthcontentCol p{
    font: normal normal normal 20px Proxima Nova;
    color: #191919;
}
.sections-container.ltr {
    padding: 0px 5% 0px 5%;
}
.sections-container.rtl {
    padding: 0px 5% 0px 5%;
}
.sections-container{
    margin: 100px auto;
}
.section-content {
    padding: 10px 10%;
}
.section-content {
    padding: 10px 10%;
}
.section-heading {
    font-size: 2.5rem;
    line-height: 1.2;
}
.section-content> p {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}
.section-image > img{
    width: 100%;
    height: 100%;
    max-width: 650px;
}

.section-image.ltr > img {
    padding-left: 10%;
}

.Start-Now-btn:hover,.Start-Now-btn:focus {
    background: #191919;
    color: #fff;
    border: 1px solid #191919;
}

.ThemesImage{
    width: 100%;
    padding: 100px 100px 50px 100px;
}

.subheading > h1 {
    font-size: 22px;
    font-weight: 400;
}
.subheading hr {
    border-top: 5px solid #191919;
    max-width: 50px;
    margin: 0.25rem auto;
}



/* Tab Device */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    /* .heroHeading h1 {
        font-size: 30px;
    } */
    .section-content {
        padding: 10px 10%;
    }
    .section-heading {
        font-size: 1.5rem;
        line-height: 1.2;
        /* text-align: center; */
    }
    .section-content> p {
        font-size: 15px;
        /* text-align: center; */
        color: #000;
    }
    .ThemesImage{
        width: 100%;
        padding: 100px 10% 50px 10%;
    }

}

/* Mobile Device */

@media only screen and (min-device-width: 320px) and (max-device-width:767px) {
    .heroHeading h1 {
        font-size: 30px;
    }
    .sectionHeading h1 {
        font-size: 30px;
        padding: 10px;
    }

    .sectionHeading p {
        font: normal normal normal 15px Proxima Nova;
        color: #191919;
        max-width: 800px;
        margin: auto;
        padding: 10px;
    }

    .section-heading {
        font-size: 1.5rem;
        line-height: 1.2;
        /* text-align: center; */
    }
    .section-content> p {
        font-size: 15px;
        color: #000;
        /* text-align: center; */
    }
    .section-content {
        padding: 40px 10%;
        text-align: center;

    }
    .section-image.ltr > img {
        padding-left: 10%;
        padding-right: 10%;
    }
    .ThemesImage{
        width: 100%;
        padding: 100px 10% 50px 10%;
    }
}

