.laptop {
    position: relative;
    margin: auto;
    max-width: 35rem;
    width: 100%;
  }
  .laptop .laptop__screen {
    position: relative;
    z-index: 1;
    padding: 15px;
    border-radius: 10px;
    background: #ecf1f7;
    background-image: linear-gradient(to bottom, #ecf1f7, #e1e7ee);
    box-shadow: 0 0.1rem 0 #cfcfcf;
    padding-top: 15px;
    padding-bottom: 15px;
}
.laptop_screen_body{
    width: 100%;height: 280px;overflow: hidden;
}
  .laptop .laptop__screen img {
    display: block;
    /* max-width: 100%; */
    background: #00c0ff;
    width: 100%;overflow-y: scroll;
  }
  .laptop .laptop__bottom {
    position: relative;
    z-index: 1;
    margin-right: -7%;
    margin-left: -7%;
    height: .4rem;
    background: #e9eff5;
    background-image: linear-gradient(to right, #d2dde9 0%, #f9fcff 15%, #e5ebf2 40%, #e5ebf2 60%, #f9fcff 85%, #d2dde9 100%);
  }
  .laptop .laptop__bottom::before {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: .7rem;
    border-radius: 0 0 .2rem .2rem;
    background: #f6f9fc;
    background-image: linear-gradient(to right, #c3cfdb 0%, #f6f9fc 10%, #f6f9fc 90%, #c3cfdb 100%);
    content: " ";
  }
  .laptop .laptop__under {
    position: absolute;
    top: 100%;
    left: 25%;
    display: block;
    width: 50%;
    height: 0.9rem;
    background: #e2e8f0;
    background-image: linear-gradient(to bottom, #e2e8f0, #bec7d1);
  }
  .laptop .laptop__under::after, .laptop .laptop__under::before {
    position: absolute;
    top: 0%;
    right: 100%;
    bottom: 0;
    display: block;
    width: 50%;
    border-bottom-left-radius: 100%;
    background: inherit;
    content: " ";
  }
  .laptop .laptop__under::after {
    right: auto;
    left: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 0;
  }
  .laptop .laptop__shadow {
    position: absolute;
    right: -10%;
    bottom: -2.5rem;
    left: -10%;
    z-index: 0;
    height: 2rem;
    background: radial-gradient(ellipse closest-side, #000, transparent);
    opacity: 0.3;
  }

  /* Mobile View */

  .mobile {
    position: relative;
    margin-left: auto;
    max-width: 10rem;
  }
  .mobile .mobile__screen {
    position: relative;
    z-index: 1;
    padding: 4%;
    border-radius: 12px;
    background: #ecf1f7;
    background-image: linear-gradient(to bottom, #ecf1f7, #e1e7ee);
    box-shadow: 0 0.1rem 0 #cfcfcf;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mobile_screen_body{
  width: 100%;height: 280px;overflow: hidden;
}
.mobile .mobile__screen img {
  display: block;
  /* max-width: 100%; */
  background: #00c0ff;
  width: 100%;overflow-y: scroll;
}
.mobile .mobile__shadow {
  position: absolute;
  right: -10%;
  bottom: -2rem;
  left: -10%;
  z-index: 0;
  height: 1.5rem;
  background: radial-gradient(ellipse closest-side, #000, transparent);
  opacity: 0.2;
}
.clientele_content_body{
  display: flex;
}



@media screen and (min-width:769px) and (max-width:1024px){
  .laptop{
    max-width: 22rem;
    margin: 0;
  }
  .laptop_screen_body{
    height: 170px;
  }
  .laptop .laptop__bottom{
    height: 0.25rem;
  }
  .laptop .laptop__under{
    height: 0.7rem;
  }
  .mobile{
    max-width: 5.4rem;
    bottom: 0;
    margin-left: 80px;
    margin-top: 1.5rem;
  }
  .mobile_screen_body{
    height: 136px;
  }
}
@media screen and (min-width:501px) and (max-width:768px){
  .mobile{
    right: 0px;
    bottom: 240px;
  }
  .clientele_content_body{
    display: block;
    max-height: 40vh;
  }
}
@media screen and (max-width:500px){
  .clientele_content_body{
    display: block;
    margin: 0 15px;
    max-height: 60vh;
  }
  .laptop {
    max-width: 16.5rem;
    margin: 0 auto;
  }
  .laptop .laptop__screen {
    padding: 8px;
    border-radius: 3px;
}
.laptop_screen_body{
    width: 100%;height: 125px;overflow: hidden;
}
.laptop .laptop__bottom{
  height: .2rem;
}
.laptop .laptop__under{
  height: 0.55rem;
}
.laptop .laptop__shadow{
  bottom: -2rem;
  height: 1.2rem;
  background: radial-gradient(ellipse closest-side, #8c8c8c, transparent);
  opacity: 0.2;
}
.mobile{
  left: 0%;
  top: 60px;
  width: max-content;
  margin: auto;
  margin-bottom: 90px;
}
.mobile .mobile__screen{
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 100px;
}
.mobile_screen_body{
  height: 160px;
}
.mobile .mobile__shadow{
  height: 1.2rem;
  background: radial-gradient(ellipse closest-side, #8c8c8c, transparent);
  opacity: 0.2;
}

}