.slick-list {
  padding: 20px 0px !important;
}

.slick-slide img {
  border-radius: 0px !important;
}

.clientele-logo-name>img {
  width: auto;
  max-width: 220px;
  height: auto;
  max-height: 110px;
}

/* Video Player */

/* .ant-anchor-wrapper {
  margin-left: -4px;
  padding-left: 4px;
  margin-left: 0px;
  padding-left: 0px;
  overflow: auto;
  background-color: unset;
  width: 100%;
} */

/* .getin-touch-form {
  padding: 80px 15px !important;
  background: #fff;
} */

/* .video-play-button {
  min-width: 60px !important;
  min-height: 60px !important;
  font-size: 35px !important;
  position: absolute !important;
  border-radius: 50%;
  padding-left: 5px !important;
  border: none !important;
  left: 40% !important;
  box-shadow: 0px 0px 10px 5px #00bcd438 !important;
  top: 45%;
  color: #fff !important;
  background: #333;
} */

.tagline-heading.new-banner {
  text-align: left;
  padding-left: 0px !important;
  padding-top: 20%;
}

.homepage-section-2 {
  background: #fcfcfc;
  margin-top: 150px;
  padding: 20px 0px;
  margin-bottom: 0px;
}

.lg-rtl {
  text-align: right;
}

.lg-float-right {
  float: right;
}

.lg-ltr {
  text-align: left;
}

.lg-float-left {
  float: left;
}

.UAF-power-icon-container {
  max-width: 170px;
  text-align: center;
  margin: 0 auto;
}

.UAF-power-icon-container>img {
  width: 100px;
  height: 100px;
}

.UAF-power-icon-container>p {
  font-size: 14px;
  margin-top: 10px;
}

.industry-card {
  background: #fcfcfc;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
}

.industry-card>p {
  color: #333333a3;
}

.industry-card:hover {
  background: #585858;
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}

.industry-card:hover>p {
  color: #00bcd4;
}

.multivendorBuild-card {
  background: #fcfcfc;
  padding: 15px 15px 15px 15px;
  border-radius: 2px;
}

.multivendorBuild-card>p {
  color: #333333a3;
}

.multivendorBuild-card:hover {
  transform: scale(1.1);
  transition-delay: 0.1s;
  transition-duration: 0.3s;
}

/* .multivendorBuild-card:hover>p {
  color: #00bcd4;
} */

.package-tabs>.ant-tabs-bar {
  margin: 0 0 16px 0;
  border: 1px dashed #bfbfbf !important;
  outline: none;
  background: #6d6d6d !important;
  color: #fff;
  border-radius: 3px !important;
}

.UAF-container-fluid {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

.banner-user {
  height: 700px;
}

.tab-request-btn {
  display: block;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .tab-d-none {
    display: none;
  }
  .tagline-heading {
    padding-top: 25px !important;
  }
  .tagline-heading.sub-points {
    padding-top: 0px;
  }
  .single-app-desc-top-title {
    padding: 100px 10px;
    text-align: center;
  }
  .home-feature-img>img {
    position: relative;
    top: 0px !important;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    max-width: 500px !important;
  }
  .tagline-heading {
    text-align: initial !important;
  }
  .tab-request-btn {
    display: none !important;
  }
  .lg-p-rtl-15 {
    padding-right: 0%;
  }
  .lg-p-ltr-15 {
    padding-left: 0%;
  }
  .UAF-container-fluid {
    width: 95%;
    max-width: 1200px;
    margin: auto;
  }
  .faclity-sub-text {
    max-width: 100%;
    text-align: center !important;
  }
  .banner-user {
    height: 655px;
  }
  .tagline-heading.new-banner>.texty-demo {
    font-size: 25px !important;
  }
  h1.ant-typography.texty-demo {
    font-size: 25px !important;
  }
  .tagline-heading.new-banner {
    text-align: left;
    padding-left: 50px !important;
    padding-top: 30% !important;
  }
  .tagline-heading.new-banner.lg-rtl {
    padding-right: 50px !important;
    padding-top: 30% !important;
  }
  .new-banner>.text-demo-sub-text {
    font-size: 14px !important;
    font-weight: 500;
  }
  .client-screen {
    /* transform: rotate(-15deg); */
    padding: 15px;
    width: 50%;
    max-width: 180px;
  }
  .clientele-logo-name>img {
    max-width: 120px;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 451px) and (max-device-width: 767px) {
  .lg-p-rtl-15 {
    padding-right: 0%;
  }
  .lg-p-ltr-15 {
    padding-left: 0%;
  }
  .package-tabs.restaurant-pack {
    position: relative;
    top: 10px;
  }
  .client-screen {
    /* transform: rotate(-15deg); */
    padding: 15px;
    width: 50%;
    max-width: 182px;
  }
  .m-dir-ltr {
    direction: ltr;
  }
  .m-align-left {
    text-align: left !important;
  }
  .home-feature-img>img {
    position: unset;
  }
  .tagline-heading {
    padding-top: 0%;
  }
  h1.ant-typography.text-demo-sub-text.lg-ltr {
    text-align: center;
    margin: 20px auto;
    font-weight: 400 !important;
  }
  .tagline-heading.sub-points {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px !important;
  }
  .banner-user {
    height: 100vh;
  }
  .main.new-banner>img {
    top: -30px !important;
  }
  .tagline-heading.new-banner {
    text-align: left;
    padding-left: 0px !important;
    padding-top: 0px !important;
  }
  .UAF-power-icon-container>p {
    font-size: 13px;
    margin-top: 0px;
  }
  .UAF-power-icon-container>img {
    width: 80px;
    height: 80px;
  }
  .industry-card {
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  .industry-card>p {
    color: #333333a3;
    margin-top: 2px !important;
  }
  .industry-card>img {
    width: 60px !important;
    height: 60px !important;
  }
  .industry-card:hover {
    background: #585858;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .multivendorBuild-card {
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  .multivendorBuild-card>p {
    color: #333333a3;
    margin-top: 2px !important;
  }
  .multivendorBuild-card>img {
    width: 60px !important;
    height: 60px !important;
  }
  .multivendorBuild-card:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .UAF-container-fluid {
    width: 95%;
    margin: 0 auto;
  }
  .m-center {
    text-align: center;
  }
  .home-feature-img.main {
    margin-top: 25px;
  }
  .getin-touch-form {
    padding: 60px 0px;
    background: #fff;
  }
  .homepage-section-2 {
    background: #fcfcfc;
    margin-top: 50px;
    padding: 50px 15px;
    text-align: center;
    margin-bottom: 50px;
  }
  .lg-rtl {
    text-align: center;
    display: block !important;
  }
  .lg-float-right {
    float: unset;
  }
  .lg-ltr {
    text-align: center;
    display: block !important;
  }
  .lg-float-left {
    float: unset;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 450px) {
  .lg-p-rtl-15 {
    padding-right: 0%;
  }
  .lg-p-ltr-15 {
    padding-left: 0%;
  }
  .package-tabs.restaurant-pack {
    position: relative;
    top: 10px;
  }
  .client-screen {
    /* transform: rotate(-15deg); */
    padding: 15px;
    width: 50%;
    max-width: 182px;
  }
  .m-dir-ltr {
    direction: ltr;
  }
  .m-align-left {
    text-align: left !important;
  }
  .home-feature-img>img {
    position: unset;
  }
  .tagline-heading {
    padding-top: 0%;
  }
  h1.ant-typography.text-demo-sub-text.lg-ltr {
    text-align: center;
    margin: 20px auto;
    font-weight: 400 !important;
  }
  .tagline-heading.sub-points {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px !important;
  }
  .banner-user {
    height: 100vh;
  }
  .main.new-banner>img {
    top: -30px !important;
  }
  .tagline-heading {
    padding-top: 200px;
    text-align: center;
    padding-left: 15px;
  }
  .tagline-heading.new-banner {
    text-align: center;
    padding: 0px !important;
    padding-top: 0px !important;
  }
  .UAF-power-icon-container>p {
    font-size: 13px;
    margin-top: 0px;
  }
  .UAF-power-icon-container>img {
    width: 80px;
    height: 80px;
  }
  .industry-card {
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  .industry-card>p {
    color: #333333a3;
    margin-top: 2px !important;
  }
  .industry-card>img {
    width: 60px !important;
    height: 60px !important;
  }
  .industry-card:hover {
    background: #585858;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .multivendorBuild-card {
    padding: 15px 15px 15px 15px;
    border-radius: 2px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
  }
  .multivendorBuild-card>p {
    color: #333333a3;
    margin-top: 2px !important;
  }
  .multivendorBuild-card>img {
    width: 60px !important;
    height: 60px !important;
  }
  .multivendorBuild-card:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition-duration: 0.3s;
  }
  .UAF-container-fluid {
    width: 95%;
    margin: 0 auto;
  }
  .m-center {
    text-align: center;
  }
  .home-feature-img.main {
    margin-top: 25px;
  }
  .getin-touch-form {
    padding: 60px 0px;
    background: #fff;
  }
  .homepage-section-2 {
    background: #fcfcfc;
    margin-top: 50px;
    padding: 50px 15px;
    text-align: center;
    margin-bottom: 50px;
  }
  .lg-rtl {
    text-align: center;
    display: block !important;
  }
  .lg-float-right {
    float: unset;
  }
  .lg-ltr {
    text-align: center;
    display: block !important;
  }
  .lg-float-left {
    float: unset;
  }
}

span.benifit-tabs-tab {
  font-size: 18px;
  font-weight: 600;
}

.ant-tabs.ant-tabs-top.benifits-tabs.ant-tabs-line {
  text-align: center;
}

.uaf_crppage_artable .ant-table table {
  text-align: right;
  margin-top: 3rem;
}

.uaf_crppage_entable .ant-table table {
  margin-top: 3rem;
}

.uaf_crppage_artable .ant-table-thead tr th {
  text-align: right;
}

.uaf_mainwebsite_linkbtn {
  /* border-radius: 0px; */
  top: 1.5px;
}

.uaf_mainwebsite_linkbtn_main {
  /* top: -18.5px;
  left: 20px; */
  float: right;
  padding: 0 5px;
}

li.ant-menu-item.menu-action-btn.tab-request-btn.float-right {
  padding: 0 5px;
}

@media only screen and (min-width:769px) and (max-width:1024px) {
  .uaf_mainwebsite_linkbtn {
    font-size: 14px;
    border: none;
    /* border-radius: 0; */
  }
  .uaf_mainwebsite_linkbtn_main {
    display: block!important;
  }
  .logo {
    margin-left: 25px;
    width: 160px;
  }
  .ant-menu-item {
    padding: 0 15px;
    font-size: 15px;
  }
}