.homeMain {
    margin: auto;
    margin-top: 100px;
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    background: #ffffff;
}
a.ant-dropdown-link.ant-dropdown-trigger {
    color: #333;
}
.heroHeading {
    text-align: center;
}

.heroHeading h1 {
    color: #191919;
    font: normal normal 500 70px Proxima Nova;
    margin: 0;
}

.heroHeading hr {
    border: none;
    border-top: 7px solid #191919;
    max-width: 7%;
    margin: 1rem auto;
}

.textCol {
    text-align: center;
    max-width: 600px;
    margin: 1rem auto;
}

.textCol p {
    text-align: center;
    font: normal normal normal 18px Proxima Nova;
    color: #191919;
}

.imgCol {
    margin: auto;
    text-align: center;
    margin-bottom: 4.5rem;
}

.imgCol img {
    max-width: 100%;
}

.fullWidthSection {
    background: #F9F9F9 0% 0% no-repeat padding-box;
}

.fullWidthImgCol img {
    width: 100%;
}

.fullWidthcontentCol {
    text-align: left;
    align-self: center;
    padding-left: 15%!important;
}

.fullWidthcontentCol h1 {
    font: normal normal 500 44px Proxima Nova;
    margin: 0;
}

.fullWidthcontentCol hr {
    border: none;
    border-top: 7px solid #191919;
    max-width: 12%;
    margin: 0.8rem auto;
    margin-left: 0;
}

.fullWidthcontentCol p {
    font: normal normal normal 18px Proxima Nova;
    color: #191919;
}

.fullWidthcontentCol .exploreBtn {
    color: #53BDDB;
    font: normal normal 400 18px Proxima Nova;
}

@media only screen and (max-device-width:768px) {
    .fullWidthcontentCol {
        padding: 3rem 1rem!important;
    }
    .fullWidthcontentCol h1 {
        font: normal normal 500 38px Proxima Nova;
    }
    .fullWidthcontentCol hr {
        max-width: 18%;
    }
    .fullWidthcontentCol p {
        font: normal normal normal 15px Proxima Nova;
    }
    .fullWidthcontentCol .exploreBtn {
        font: normal normal 400 15px Proxima Nova;
    }
    .heroHeading hr {
        max-width: 10%;
    }
}

@media only screen and (max-device-width:430px) {
    .fullWidthcontentCol {
        text-align: center;
        padding: 5rem 0!important;
    }
    .fullWidthcontentCol hr {
        max-width: 18%;
        margin: 1rem auto;
    }
    .heroHeading hr {
        max-width: 20%;
    }
}