.slick-slide img{
    display: block;
    width: 100%;
    box-shadow: 0 5px 15px #e8e8e8;
    border-radius: 0;
}
.slick-slide>div>div>div.screenshots-container{
    opacity: 0.3;
}
.screenshots-container{
    /* padding: 10px; */
    transform: scale(.9);
}
.slick-track{
    display: flex!important;
}
.slick-center>div>div>div.screenshots-container{
    opacity: 1;
}