.smartphone-portrait {
  padding: 45px 0px;
  border-radius: 30px;
  border: 0.5px solid #e0e0e0;
  background-color: #1d1d1d;
  width: 320px;
  margin: 0 auto 100px;
  height: 665px;
}

.mobile-container {
  margin: 0 15px;
  background: #ffffff;
  height: 570px;
  border: 1px solid #eee;
  border-radius: 3px;
  overflow-y: auto;
  /* padding: 0px 15px; */
}

.scrollbar-container {
  padding: 1px !important;
}

.flex-container {
  margin: 0 15px;
}

.flex-container .inline {
  width: 80px !important;
  margin: 9px 9px 9px 0;
}

.flex-container .small {
  height: 20px !important;
  line-height: 20px !important;
}

.sub-title {
  color: #888;
  font-size: 14px;
  padding: 30px 0 18px 0;
}

.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

/* tab view */

.am-tabs-horizontal .am-tabs-pane-wrap-active {
  height: 518px;
  overflow-y: auto;
}

.tab-bar {
  height: 22px;
  width: 22px;
}

p.brand-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-y: hidden;
  font-weight: 500;
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
  margin-bottom: 5px;
}

p.left {
  margin-top: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding-left: 18px;
  margin-bottom: 0px;
}

p.right {
  margin-top: 10px;
  margin-bottom: 0px;
  float: right;
  display: inline-block;
}

.m-category-card {
  background: url('https://upappfactory-static-images.s3.us-east-2.amazonaws.com/mobile-apps-showcase/banner/bag.png');
  background-size: cover;
  height: 130px !important;
  border-radius: 5px;
}

.m-category-card-1 {
  background: url('https://www.bajajfinserv.in/Mens-FashionBannerImg_Men_fashion_Mobile_-_414_x_153_px.jpg');
  background-size: cover;
  height: 130px !important;
  border-radius: 5px;
}

.m-category-card-2 {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdDvS3ffYz999uS0J76vL6j6gRNpA1IvvUKwXUtyaA9INovLTbXw&s');
  background-size: cover;
  height: 130px !important;
  border-radius: 5px;
}

.m-category-card-3 {
  background: url('https://www.gangareyenation.com/wp-content/uploads/2015/06/banner-Kid.jpg');
  background-size: cover;
  height: 130px !important;
  border-radius: 5px;
}

.cat-box {
  position: relative;
  width: 100%;
  height: 130px;
  background: #00000036;
  border-radius: 5px;
}

p.mobile-category-title-right {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  position: absolute;
  top: 40px;
  right: 12px;

}

p.mobile-category-title-left {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  position: absolute;
  top: 40px;
  left: 12px;

}

.mobile-category-quantity {
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 16px;
}

.mobile-category-quantity-left {
  color: #fff;
  position: absolute;
  bottom: 25px;
  left: 16px;
}

.am-navbar.am-navbar-light {
  position: sticky;
  top: -1px;
  background: #fff;
  z-index: 10;
}

.am-search {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}

.am-steps-item-tail:after {
  content: '';
  display: inline-block;
  background: #efefef !important;
  box-shadow: inset 0px 0px 9px #c3c3c3;
}

.am-steps-item-tail:after {
  height: 14px;
  border-radius: 1px;
  position: relative;
  left: -7px;
  top: 5px;
}

.am-steps-label-vertical .am-steps-item-content {
  display: block;
  text-align: center;
  margin-top: 8px;
  width: 70px;
  position: relative;
  bottom: 80px;
}

.am-steps-item-title {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  display: inline-block;
}

.am-steps-label-vertical .am-steps-item-icon {
  display: inline-block;
  margin-left: 10px;
  background: #ffffff;
  padding: 13px;
  width: 50px;
  height: 50px;
  border: 0px solid #ccc;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px #ccc;

}

.am-steps-item-custom.am-steps-item-process .am-steps-item-icon>.am-steps-icon {
  color: #108ee9;
  border: 1px solid #8a8a8a;
  border-radius: 50%;
  left: -9px;
  top: -1px;
  padding: 9px 8px 5px 9px;
}

.am-steps-item-custom .am-steps-item-icon>.am-steps-icon {
  font-size: 22px;
  top: -3px;
  width: 22px;
  height: 22px;
}

.cart-product-img {
  background: url(http://www.octaveclothing.in/products/men/roundnecktshirt/t5.jpg);
  height: 90px;
  width: 90px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.coupon-box {
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 0px 10px;
  max-width: 160px;
  height: 40px;
}

.fav-cart-button {
  width: 50%;
  border-radius: 0px;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.mobile-app-heading-tagline {
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding-top: 50px;
}