.multiVendorMain {
    margin: auto;
    /* margin-top: 90px; */
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    background: #ffffff;
}

.mv_hero_main {
    min-height: 100vh;
    background-image: url('../img/multivendor/herobg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 150px !important;
    padding: 5rem 0;
}

/* Section1 */

.mvp_Main {
    padding: 5rem 0;
}

.mvp_Main .sectionHeading {
    text-align: center;
    margin: auto;
}

.mvp_Main .sectionContent {
    padding: 3rem 0;
}

.maintextLeft>div {
    max-width: 400px;
}

.maintextLeft h1 {
    color: #191919;
    font: normal normal bold 24px Proxima Nova;
    margin-bottom: 1rem;
}

.maintextLeft p {
    color: #191919;
    font: normal normal normal 16px Proxima Nova;
    margin-bottom: 1.7rem;
}

.maintextLeft a {
    background: #191919;
    color: #ffffffde;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

.mainimgright {
    text-align: right;
}

.mainimgright img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 310px;
    object-fit: contain;
    object-position: right;
}

.maintextright>div {
    max-width: 400px;
    float: right;
}

.maintextright h1 {
    color: #191919;
    font: normal normal bold 24px Proxima Nova;
    margin-bottom: 1rem;
}

.maintextright p {
    color: #191919;
    font: normal normal normal 16px Proxima Nova;
    margin-bottom: 1.7rem;
}

.maintextright a {
    background: #191919;
    color: #ffffffde;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

.mainimgleft {
    text-align: left;
}

.mainimgleft img {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 310px;
    object-fit: contain;
}

.sectioncontentUl {
    padding-inline-start: 0px;
    list-style-type: none;
}

.tick {
    width: 25px;
}

.features {
    padding: 8px;
}

.features>div {
    height: 85px;
    display: flex;
    align-items: center;
    place-content: center;
    padding: 1rem;
}

.features>div img {
    opacity: 0.9;
    height: 100%;
    max-height: 65px;
}

.pricingOuter {
    background-image: url('../img/multivendor/pricebg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* border: 2px solid #191919; */
    box-sizing: border-box;
}

.pricingOuter .maintextLeft, .pricingOuter .sectioncontentUl {
    margin: 0;
}

.sectioncontentUl li {
    line-height: 2.5;
}

.darkbg {
    background: #333333;
    color: #ffffff;
    padding: 1rem;
}

.features h3 {
    font: normal normal 400 12px Proxima Nova;
}

.pricecontentRight>div {
    padding: 5rem;
    text-align: center;
}

.pricecontentRight>div p:first-child {
    color: #FFBA38;
    text-transform: uppercase;
    font: normal normal 500 20px Proxima Nova;
    margin-bottom: 0.81rem;
}

.pricecontentRight>div p:nth-child(2) {
    color: #000000;
    text-transform: uppercase;
    font: normal normal 400 20px Proxima Nova;
    margin-bottom: 1.5rem;
}

.pricecontentRight>div p:nth-child(2) span {
    color: #000000;
    font: normal normal bold 50px Proxima Nova;
}

.pricecontentRight>div a {
    background: #191919;
    color: #ffffffde;
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

@media only screen and (max-device-width:1024px) {
    .mainimgright img {
        width: 100%;
        height: 100%;
        max-width: 450px;
        max-height: 310px;
        object-fit: contain;
    }
}

@media only screen and (max-device-width:768px) {
    .mainimgright img, .mainimgleft img {
        max-width: 100%;
    }
    .pricecontentRight>div {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width:430px) {
    .mainimgright, .mainimgleft {
        text-align: center;
        padding: 2rem 0;
    }
    .ltr.maintextLeft, .rtl.maintextright {
        text-align: center;
    }
    .ltr.maintextLeft>div, .rtl.maintextright>div {
        text-align: center;
        float: none;
        margin: auto;
    }
    .mainimgright img, .mainimgleft img {
        max-width: 100%;
        object-position: center;
    }
}