.businessonlineMain {
    text-align: center;
    padding: 5rem 0;
}

.sectionHeading {
    text-align: center;
}

.sectionHeading h1 {
    font: normal normal 500 44px Proxima Nova;
    margin: 0;
}

.sectionHeading hr {
    border: none;
    border-top: 7px solid #191919;
    max-width: 8%;
    margin: 0.8rem auto;
}

.sectionHeading p {
    font: normal normal normal 18px Proxima Nova;
    color: #191919;
    max-width: 800px;
    margin: auto;
}

.sectionContent {
    padding: 1rem 0;
    text-align: center;
    margin: auto;
}

.btBlockTile {
    /* max-width: 400px; */
    max-width: 380px;
    margin: 2rem auto;
    background: #F8F8F8;
    padding: 1rem;
}

.blockImage {
    padding-top: 2rem;
    padding-bottom: 1.2rem;
    height: 300px;
}

.blockImage img {
    max-width: 100%;
    max-height: 100%;
}

.blockData h1 {
    text-align: center;
    color: #191919;
    font: normal normal bold 22px Proxima Nova;
    margin: 0;
}

.blockData p {
    text-align: center;
    color: #191919;
    font: normal normal normal 14px Proxima Nova;
}

.blockData a {
    text-align: center;
    color: #53BDDB;
    font: normal normal 500 15px Proxima Nova;
}

.blockData a .anticon svg {
    position: relative;
    top: 2px;
    font-size: 16px;
}

@media only screen and (max-device-width:1024px) {
    .btBlockTile {
        max-width: 300px;
        padding: 0.5rem;
        padding-bottom: 1.2rem;
    }
    .blockImage {
        padding-top: 2rem;
        padding-bottom: 1.2rem;
        height: 220px;
    }
    .businessonlineMain {
        padding: 5rem 0;
    }
}

@media only screen and (max-device-width:768px) {
    .btBlockTile {
        max-width: 350px;
        padding: 0.5rem;
        padding-bottom: 1.2rem;
    }
    .blockImage {
        height: 250px;
        padding-bottom: 0.5rem;
    }
    .sectionHeading {
        max-width: 650px;
        margin: auto;
    }
    .sectionHeading hr {
        max-width: 20%;
    }
}

/* Section 1 */

.businessOnlineFullSection1 {
    text-align: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    padding: 5rem;
}

.imageRow {
    place-items: flex-end;
}

.deviceImg img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-device-width:430px) {
    .deviceImg {
        padding: 1.5rem 0;
    }
    .deviceImg:last-child, .sectionContent {
        padding-bottom: 0;
    }
}

/* Section 2 */

.businessOnlineFullSection2 {
    text-align: center;
    background: #FFED75 0% 0% no-repeat padding-box;
    padding: 5rem;
}

.bofs2_mainCol {
    align-self: center;
    padding: 3.4rem;
    padding-bottom: 0;
}

.bofs2_mainCol img {
    max-width: 100%;
    max-height: 540px;
}

.bofs2_mainTextCol {
    padding-bottom: 3rem;
    max-width: 420px;
}

.bofs2_mainTextCol:last-child {
    padding-bottom: 0;
}

.bofs2_mainTextCol h1 {
    text-align: left;
    color: #191919;
    font: normal normal bold 22px Proxima Nova;
    margin-bottom: 1.5rem;
}

.bofs2_mainTextCol p {
    text-align: left;
    color: #191919;
    font: normal normal normal 14px Proxima Nova;
}

.bofs2_mainTextCol:last-child p {
    margin: 0;
}

@media only screen and (max-device-width:1024px) {
    .bofs2_mainCol {
        padding: 1rem;
        padding-bottom: 0;
    }
    .bofs2_mainTextCol h1 {
        margin-bottom: 0.7rem;
    }
    .bofs2_mainTextCol {
        padding-bottom: 1.5rem;
    }
    .bofs2_mainTextCol p {
        margin: 0;
    }
    .businessOnlineFullSection2 {
        padding: 5rem 2rem;
    }
}

/* Section 3 */

.businessOnlineFullSection3 {
    text-align: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    padding: 5rem;
}

.bofs3_img {
    height: 165px;
    margin: auto;
}

.bofs3_Col h1 {
    font: normal normal bold 22px Proxima Nova;
}

.bofs3_Col p {
    max-width: 185px;
    margin: auto;
    font: normal normal normal 14px Proxima Nova;
}

.bofs3_img img {
    height: 150px;
}

@media only screen and (max-device-width:1024px) {
    .businessOnlineFullSection3 {
        padding: 5rem 1rem;
    }
}

@media only screen and (max-device-width:768px) {
    .bofs3_Col {
        padding: 1.5rem;
    }
    .bofs3_Col:nth-child(3), .bofs3_Col:nth-child(4) {
        padding-bottom: 0;
    }
}

/* Section 4 */

.businessOnlineFullSection4 {
    text-align: center;
    padding: 5rem;
}

.bofs4_Col {
    padding: 1rem;
}

.bofs4_img {
    height: 180px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    place-content: center;
}

.bofs4_Col h1 {
    font: normal normal bold 22px Proxima Nova;
}

.bofs4_Col p {
    margin: auto;
    font: normal normal normal 14px Proxima Nova;
}

.bofs4_img img {
    max-height: 100%;
    max-width: 270px;
}

.bosf_Tile {
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
    max-width: 320px;
    height: 320px;
}

.bosf_TileBg1 {
    background: #8C25FE;
}

.bosf_TileBg2 {
    background: #A5A5A5;
}

.bosf_TileBg3 {
    background: #eb7e8e;
}

.bosf_TileBg4 {
    background: #861957;
}

.bosf_TileBg5 {
    background: #c92d26;
}

.bosf_TileBg6 {
    background: #FFBA38;
}

.bofs4_Col p {
    color: #ffffff;
    margin-bottom: 0.497rem;
}

.bofs4_Col h1 {
    color: #ffffff;
}

.viewMoreBtn a {
    color: #53BDDB;
    font: normal normal bold 22px Proxima Nova;
    margin: 0 auto;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    place-content: center;
}

.viewMoreBtn {
    padding-bottom: 0;
}

@media only screen and (max-device-width:1024px) {
    .businessOnlineFullSection4 {
        padding: 5rem 0rem;
    }
}

@media only screen and (max-device-width:430px) {
    .viewMoreBtn {
        padding-top: 2rem;
    }
}

/* Section 5 */

.businessOnlineFullSection5 {
    text-align: center;
    padding: 5rem;
    background: #F9F9F9;
}

.businessOnlineFullSection5 .sectionHeading p {
    padding: 2rem 0;
}

.bosf5_TileBg1 {
    background: #31FEDD;
}

.bosf5_TileBg2 {
    background: #FE7271;
}

.bosf5_TileBg3 {
    background: #98FE2E;
}

.bosf5_TileBg4 {
    background: #FDFE5A;
}

.bosf5_TileBg5 {
    background: #FECA77;
}

.bosf5_TileBg6 {
    background: #31FEDD;
}

.bofs5_Col {
    padding: 1rem;
}

.bosf5_Tile {
    border-radius: 5px;
    padding: 0;
    text-align: left;
    max-width: 330px;
    margin: auto;
}

.bofs5_Col h1 {
    font: normal normal bold 22px Proxima Nova;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.5rem;
    margin: 0;
}

.bofs5_Col p {
    margin: auto;
    padding: 0.7rem 1.5rem;
    font: normal normal normal 14px Proxima Nova;
    height: 90px;
}

@media only screen and (max-device-width:1024px) {
    .businessOnlineFullSection5 .sectionHeading p {
        padding: 2rem 1rem;
        max-width: 700px;
        margin: auto;
    }
    .bofs5_Col h1 {
        font: normal normal bold 20px Proxima Nova;
    }
    .businessOnlineFullSection5 {
        padding: 5rem 1rem;
    }
    .bosf5_Tile {
        max-width: 295px;
    }
}

@media only screen and (max-device-width:768px) {
    .bofs5_Col h1 {
        font: normal normal bold 22px Proxima Nova;
    }
    .businessOnlineFullSection5 {
        padding: 5rem 1rem;
    }
}

/* Section 6 */

.businessOnlineFullSection6 {
    padding: 5rem;
}

.bofs6_Col {
    padding: 1rem;
}

.bosf6_Tile {
    padding: 0;
    text-align: left;
}

.bofs6_Col h1 {
    font: normal normal bold 17px Proxima Nova;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 1.5rem;
    margin: 0;
    max-width: 360px;
    margin-left: 0;
    height: 58px;
}

.bofs6_Col p {
    margin: auto;
    padding: 0.7rem 1.5rem;
    font: normal normal normal 14px Proxima Nova;
    min-height: 90px;
    max-width: 336px;
    margin-left: 0;
}

.bofs6_Col:nth-child(5) p, .bofs6_Col:nth-child(6) p, .bofs6_Col:nth-child(5), .bofs6_Col:nth-child(6) {
    padding-bottom: 0;
}

@media only screen and (max-device-width:1024px) {
    .businessOnlineFullSection6 {
        padding: 5rem 1rem;
    }
}

@media only screen and (max-device-width:768px) {
    .businessOnlineFullSection6 {
        padding: 5rem 1rem;
    }
}

@media only screen and (max-device-width:430px) {
    .bofs6_Col:nth-child(5) p, .bofs6_Col:nth-child(5) {
        padding-bottom: 0.7rem;
    }
    .bofs6_Col:nth-child(6) p, .bofs6_Col:nth-child(6) {
        padding-bottom: 0;
        min-height: auto;
    }
}

/* Section 7 */

.businessOnlineFullSection7 {
    text-align: center;
    padding: 5rem 0;
    background: #F9F9F9;
}

.businessOnlineFullSection7Inner {
    max-width: 1920px;
}

.businessOnlineFullSection7 .viewMoreBtn a {
    color: #191919;
}

.businessOnlineFullSection7Inner .slick-slider {
    padding: 3rem 0;
}

.businessOnlineFullSection7Inner .slick-slider .slick-list {
    min-height: 360px;
}

.s7CardLogo {
    margin-bottom: 3rem;
    height: 65px;
}

.s7CardLogo img {
    width: 100%;
}

.s7ClientCardInner {
    text-align: left;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    padding: 2rem;
    text-align: left;
}

.s7CardContent h1 {
    font: normal normal bold 17px Proxima Nova;
    margin-bottom: 1.2rem;
    color: #191919;
}

.s7CardContent p {
    font: normal normal 400 14px Proxima Nova;
    margin-bottom: 2rem;
    color: #191919;
}

.s7CardContent .ClientnameDate {
    font: normal normal 400 12px Proxima Nova;
    margin-bottom: 1rem;
    color: #191919;
}

.s7CardContent .ClientnameDate span {
    font: normal normal 200 11px Proxima Nova;
    color: #191919;
    opacity: 0.9;
}

.clientbgpink {
    background: #F7C1D7 0% 0% no-repeat padding-box;
}

.clientbgblue {
    background: #A6F7F5 0% 0% no-repeat padding-box;
}

.clientbgblue {
    background: #A6F7F5 0% 0% no-repeat padding-box;
}

.clientbggreen {
    background: #CEF492 0% 0% no-repeat padding-box;
}

.clientbggray {
    background: #E3E3E3 0% 0% no-repeat padding-box;
}

.clientbgyellow {
    background: #F9F695 0% 0% no-repeat padding-box;
}

@media only screen and (max-device-width:1024px) {}

@media only screen and (max-device-width:768px) {}

/* Section 8 */

.businessOnlineFullSection8 {
    text-align: center;
    padding: 5rem;
}

.uaf-fp_card {
    border: none;
    border-radius: 10px 10px 0 0;
    background: transparent;
    text-align: left;
}

.uaf-fp_card .ant-card-body {
    padding: 1rem 0;
}

.uaf-fp_card img {
    box-shadow: none;
    border-radius: 4px;
    width: 100%;
    object-fit: cover;
}

.uaf-fp_card_heading {
    text-align: left;
    font: normal normal 500 14px Proxima Nova;
    letter-spacing: 0px;
    color: #191919;
    padding: 0;
    margin-bottom: 8px;
    max-width: 225px;
}

.uaf-fp_card_date {
    text-align: left;
    font: normal normal 400 12px Proxima Nova;
    letter-spacing: 0px;
    color: #191919!important;
    padding: 0;
}

@media only screen and (max-device-width:1024px) {
    .businessOnlineFullSection8 {
        padding: 5rem 1rem;
    }
}

@media only screen and (max-device-width:768px) {
    .businessOnlineFullSection8 {
        padding: 5rem 0rem;
    }
}