.restaurantMain {
    margin: auto;
    /* margin-top: 90px; */
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    background: #ffffff;
}

.res_hero_main {
    min-height: 100vh;
    /* background: transparent radial-gradient(closest-side at 46% 47%, #E62E2EA0 0%, #E62E2EE0 44%, #E62E2E 100%) 0% 0% no-repeat padding-box; */
    background: transparent radial-gradient(closest-side at 50% 53%, #E62E2EA0 40%, #E62E2EE0 71%, #E62E2E 100%) 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 170px !important;
    padding: 5rem 0;
}

.restaurantMain .sectionHeading h1 {
    color: #FFFFFF;
}

.heroImg {
    text-align: center;
    padding-top: 3rem;
}

.heroImg img {
    width: 100%;
    max-width: 650px;
}

.colordark {
    color: #191919!important;
}

.resproductFeature {
    background: #FDDE01;
    margin: auto;
    text-align: center;
    padding: 5rem;
}

.resFeatureColMain {
    margin: auto;
    padding: 2rem;
}

.resFetureImg img {
    max-width: 100%;
}

.resFImgOuter {
    padding: 1rem 0;
}

.resFImgOuter img {
    max-height: 65px;
}

@media only screen and (max-device-width:1024px) {
    .resproductFeature {
        padding: 5rem 0;
    }
    .resFeatureColMain {
        padding: 2rem 0;
    }
}

@media only screen and (max-device-width:768px) {
    .resFeatureColMain {
        padding: 2rem;
    }
    .resFetureImg {
        margin: auto;
        text-align: center;
        margin-bottom: 3rem;
    }
    .resFetureImg img {
        width: auto;
        margin: auto;
        max-height: 450px;
    }
}

@media only screen and (max-device-width:430px) {
    .resfeatures {
        text-align: center;
    }
}

.resaddFeature {
    background: #E62E2E;
    margin: auto;
    text-align: center;
    padding: 5rem;
}

.resaddFeature .sectionHeading hr {
    border-color: #FFFFFF;
}

.resadFeatureColMain {
    margin: auto;
    padding: 2rem;
    padding-bottom: 0;
}

.resadFetureImg img {
    max-width: 100%;
}

.resadFImgOuter {
    padding: 1rem 0;
}

.resadFImgOuter img {
    max-height: 65px;
}

.resadfeatures {
    color: #FFFFFF;
}

.resadfeatures h3 {
    color: #FFFFFF;
}

@media only screen and (max-device-width:1024px) {
    .resaddFeature {
        padding: 5rem 0;
    }
    .resadFeatureColMain {
        padding: 2rem 0;
        padding-bottom: 0;
    }
}

@media only screen and (max-device-width:768px) {
    .resadFeatureColMain {
        padding: 2rem;
        padding-bottom: 0;
    }
    .resadFetureImg {
        margin: auto;
        text-align: center;
        margin-bottom: 3rem;
    }
    .resadFetureImg img {
        width: auto;
        margin: auto;
        max-height: 450px;
    }
}

@media only screen and (max-device-width:430px) {
    .resadfeatures {
        text-align: center;
    }
}